* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fb;
    color: #222;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    background: #0d47a1;
}

.logo h2 {
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s;
}

.nav-links a:hover {
    color: #FFD54F;
}

/* Hero */

.hero {
    text-align: center;

    padding: 100px 20px;

    background: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
}

.hero button {
    padding: 15px 35px;

    border: none;

    background: #0d47a1;

    color: white;

    border-radius: 8px;

    cursor: pointer;

    font-size: 16px;
}

.hero button:hover {
    background: #1565c0;
}

/* Booking */

.booking {

    padding: 80px 8%;

    text-align: center;
}

/* Resources */

.resources {

    padding: 80px 8%;

    text-align: center;
}

/* Footer */

footer {

    background: #0d47a1;

    color: white;

    text-align: center;

    padding: 20px;
}

/* Responsive */

@media(max-width:768px){

.navbar{

flex-direction:column;

gap:20px;

}

.nav-links{

flex-direction:column;

align-items:center;

}

.hero h1{

font-size:32px;

}

}